<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>favorpage_about.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {135, 67}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{135, 67}</string>
			<key>spriteSourceSize</key>
			<string>{145, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{781, 0}, {135, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {137, 69}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{137, 69}</string>
			<key>spriteSourceSize</key>
			<string>{143, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {137, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 15}, {50, 168}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{50, 168}</string>
			<key>spriteSourceSize</key>
			<string>{66, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{869, 852}, {50, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {71, 155}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{71, 155}</string>
			<key>spriteSourceSize</key>
			<string>{81, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 229}, {71, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 15}, {49, 167}}</string>
			<key>spriteOffset</key>
			<string>{5, -7}</string>
			<key>spriteSize</key>
			<string>{49, 167}</string>
			<key>spriteSourceSize</key>
			<string>{59, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{921, 988}, {49, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 16}, {50, 168}}</string>
			<key>spriteOffset</key>
			<string>{5, -7}</string>
			<key>spriteSize</key>
			<string>{50, 168}</string>
			<key>spriteSourceSize</key>
			<string>{60, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{938, 818}, {50, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 15}, {71, 168}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{71, 168}</string>
			<key>spriteSourceSize</key>
			<string>{77, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 243}, {71, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 16}, {50, 155}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{50, 155}</string>
			<key>spriteSourceSize</key>
			<string>{60, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{811, 912}, {50, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 13}, {53, 169}}</string>
			<key>spriteOffset</key>
			<string>{5, -6}</string>
			<key>spriteSize</key>
			<string>{53, 169}</string>
			<key>spriteSourceSize</key>
			<string>{63, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{713, 426}, {53, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 11}, {69, 160}}</string>
			<key>spriteOffset</key>
			<string>{5, -4}</string>
			<key>spriteSize</key>
			<string>{69, 160}</string>
			<key>spriteSourceSize</key>
			<string>{79, 174}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 413}, {69, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {51, 167}}</string>
			<key>spriteOffset</key>
			<string>{4, -4}</string>
			<key>spriteSize</key>
			<string>{51, 167}</string>
			<key>spriteSourceSize</key>
			<string>{69, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 920}, {51, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {77, 160}}</string>
			<key>spriteOffset</key>
			<string>{7, -5}</string>
			<key>spriteSize</key>
			<string>{77, 160}</string>
			<key>spriteSourceSize</key>
			<string>{91, 170}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 0}, {77, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {62, 165}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{62, 165}</string>
			<key>spriteSourceSize</key>
			<string>{64, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 553}, {62, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {41, 163}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{41, 163}</string>
			<key>spriteSourceSize</key>
			<string>{41, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 229}, {41, 163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {48, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{48, 170}</string>
			<key>spriteSourceSize</key>
			<string>{48, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{972, 988}, {48, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {50, 172}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{50, 172}</string>
			<key>spriteSourceSize</key>
			<string>{50, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{759, 898}, {50, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {47, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{47, 170}</string>
			<key>spriteSourceSize</key>
			<string>{47, 174}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{811, 1069}, {47, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 169}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 169}</string>
			<key>spriteSourceSize</key>
			<string>{66, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 503}, {66, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {65, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{65, 161}</string>
			<key>spriteSourceSize</key>
			<string>{65, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{959, 326}, {65, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {51, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{51, 170}</string>
			<key>spriteSourceSize</key>
			<string>{51, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 764}, {51, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {50, 174}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{50, 174}</string>
			<key>spriteSourceSize</key>
			<string>{50, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{817, 736}, {50, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {62, 165}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{62, 165}</string>
			<key>spriteSourceSize</key>
			<string>{64, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 753}, {62, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {46, 171}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{46, 171}</string>
			<key>spriteSourceSize</key>
			<string>{48, 175}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 1157}, {46, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {50, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{50, 176}</string>
			<key>spriteSourceSize</key>
			<string>{50, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{886, 674}, {50, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 165}</string>
			<key>spriteSourceSize</key>
			<string>{67, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 386}, {67, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {48, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{48, 166}</string>
			<key>spriteSourceSize</key>
			<string>{48, 174}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{863, 1022}, {48, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 160}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 160}</string>
			<key>spriteSourceSize</key>
			<string>{63, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{959, 656}, {63, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {66, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{66, 175}</string>
			<key>spriteSourceSize</key>
			<string>{66, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 326}, {66, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 168}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 168}</string>
			<key>spriteSourceSize</key>
			<string>{49, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 1089}, {49, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {52, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{52, 162}</string>
			<key>spriteSourceSize</key>
			<string>{52, 168}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 572}, {52, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {50, 170}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{50, 170}</string>
			<key>spriteSourceSize</key>
			<string>{50, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{695, 936}, {50, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {53, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{53, 175}</string>
			<key>spriteSourceSize</key>
			<string>{53, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{715, 249}, {53, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {64, 165}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{64, 165}</string>
			<key>spriteSourceSize</key>
			<string>{66, 171}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{959, 489}, {64, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {52, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{52, 165}</string>
			<key>spriteSourceSize</key>
			<string>{52, 169}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{710, 597}, {52, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {51, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{51, 176}</string>
			<key>spriteSourceSize</key>
			<string>{51, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 720}, {51, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {50, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{50, 176}</string>
			<key>spriteSourceSize</key>
			<string>{50, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{839, 394}, {50, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {66, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{66, 176}</string>
			<key>spriteSourceSize</key>
			<string>{66, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 575}, {66, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {54, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{54, 176}</string>
			<key>spriteSourceSize</key>
			<string>{54, 184}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 71}, {54, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {75, 170}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{75, 170}</string>
			<key>spriteSourceSize</key>
			<string>{81, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 71}, {75, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {108, 162}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{108, 162}</string>
			<key>spriteSourceSize</key>
			<string>{114, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 162}, {108, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_book39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {110, 158}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{110, 158}</string>
			<key>spriteSourceSize</key>
			<string>{114, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{781, 69}, {110, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_close.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {45, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 44}</string>
			<key>spriteSourceSize</key>
			<string>{53, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{860, 1190}, {45, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_shelf.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 12}, {598, 771}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{598, 771}</string>
			<key>spriteSourceSize</key>
			<string>{640, 783}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 962}, {598, 771}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>favorpage_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {501, 181}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{501, 181}</string>
			<key>spriteSourceSize</key>
			<string>{521, 185}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1735}, {501, 181}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>favorPage-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>favorPage-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>