<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>winechoose_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {189, 57}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{189, 57}</string>
			<key>spriteSourceSize</key>
			<string>{193, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1040, 746}, {189, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_cover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 13}, {267, 215}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{267, 215}</string>
			<key>spriteSourceSize</key>
			<string>{291, 237}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 120}, {267, 215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_desk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {640, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{640, 118}</string>
			<key>spriteSourceSize</key>
			<string>{640, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 0}, {640, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 10}, {216, 337}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{216, 337}</string>
			<key>spriteSourceSize</key>
			<string>{244, 363}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 607}, {216, 337}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {178, 365}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{178, 365}</string>
			<key>spriteSourceSize</key>
			<string>{188, 383}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 607}, {178, 365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {219, 224}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{219, 224}</string>
			<key>spriteSourceSize</key>
			<string>{237, 248}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 120}, {219, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {144, 380}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 380}</string>
			<key>spriteSourceSize</key>
			<string>{160, 394}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1459, 337}, {144, 380}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {173, 391}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{173, 391}</string>
			<key>spriteSourceSize</key>
			<string>{179, 415}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 337}, {173, 391}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_leftbottle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 19}, {267, 396}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{267, 396}</string>
			<key>spriteSourceSize</key>
			<string>{289, 424}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {267, 396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 8}, {37, 48}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{37, 48}</string>
			<key>spriteSourceSize</key>
			<string>{63, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1132, 271}, {37, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_next.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {163, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{163, 58}</string>
			<key>spriteSourceSize</key>
			<string>{167, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1164, 880}, {163, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_nextleft.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {165, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{165, 60}</string>
			<key>spriteSourceSize</key>
			<string>{173, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 946}, {165, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_shelf.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {640, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{640, 207}</string>
			<key>spriteSourceSize</key>
			<string>{640, 227}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 398}, {640, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 19}, {68, 165}}</string>
			<key>spriteOffset</key>
			<string>{6, -6}</string>
			<key>spriteSize</key>
			<string>{68, 165}</string>
			<key>spriteSourceSize</key>
			<string>{98, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1040, 805}, {68, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 19}, {61, 131}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{61, 131}</string>
			<key>spriteSourceSize</key>
			<string>{79, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1613, 616}, {61, 131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 13}, {47, 171}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{47, 171}</string>
			<key>spriteSourceSize</key>
			<string>{85, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1459, 719}, {47, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 21}, {61, 148}}</string>
			<key>spriteOffset</key>
			<string>{5, -6}</string>
			<key>spriteSize</key>
			<string>{61, 148}</string>
			<key>spriteSourceSize</key>
			<string>{91, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1666, 0}, {61, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 12}, {51, 164}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{51, 164}</string>
			<key>spriteSourceSize</key>
			<string>{79, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1508, 719}, {51, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {73, 127}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{73, 127}</string>
			<key>spriteSourceSize</key>
			<string>{97, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1193, 607}, {73, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {68, 167}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{68, 167}</string>
			<key>spriteSourceSize</key>
			<string>{90, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1339, 730}, {68, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 8}, {49, 166}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{49, 166}</string>
			<key>spriteSourceSize</key>
			<string>{71, 176}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1233, 120}, {49, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {73, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{73, 134}</string>
			<key>spriteSourceSize</key>
			<string>{91, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1118, 607}, {73, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 13}, {52, 165}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{52, 165}</string>
			<key>spriteSourceSize</key>
			<string>{84, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1110, 805}, {52, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {69, 148}}</string>
			<key>spriteOffset</key>
			<string>{4, -6}</string>
			<key>spriteSize</key>
			<string>{69, 148}</string>
			<key>spriteSourceSize</key>
			<string>{89, 172}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1268, 730}, {69, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {53, 172}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{53, 172}</string>
			<key>spriteSourceSize</key>
			<string>{67, 186}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1553, 0}, {53, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {60, 138}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{60, 138}</string>
			<key>spriteSourceSize</key>
			<string>{90, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1605, 476}, {60, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 10}, {99, 149}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{99, 149}</string>
			<key>spriteSourceSize</key>
			<string>{119, 167}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1132, 120}, {99, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 25}, {47, 159}}</string>
			<key>spriteOffset</key>
			<string>{5, -9}</string>
			<key>spriteSize</key>
			<string>{47, 159}</string>
			<key>spriteSourceSize</key>
			<string>{77, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1409, 730}, {47, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 17}, {64, 154}}</string>
			<key>spriteOffset</key>
			<string>{4, -5}</string>
			<key>spriteSize</key>
			<string>{64, 154}</string>
			<key>spriteSourceSize</key>
			<string>{80, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1605, 174}, {64, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 14}, {50, 161}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{50, 161}</string>
			<key>spriteSourceSize</key>
			<string>{72, 181}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1553, 174}, {50, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 15}, {63, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{63, 144}</string>
			<key>spriteSourceSize</key>
			<string>{83, 166}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1605, 330}, {63, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 21}, {76, 137}}</string>
			<key>spriteOffset</key>
			<string>{6, -7}</string>
			<key>spriteSize</key>
			<string>{76, 137}</string>
			<key>spriteSourceSize</key>
			<string>{90, 165}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1040, 607}, {76, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 16}, {56, 154}}</string>
			<key>spriteOffset</key>
			<string>{4, -4}</string>
			<key>spriteSize</key>
			<string>{56, 154}</string>
			<key>spriteSourceSize</key>
			<string>{88, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1608, 0}, {56, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 11}, {50, 159}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{50, 159}</string>
			<key>spriteSourceSize</key>
			<string>{76, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1561, 719}, {50, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>game-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>game-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>