<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>winechoose_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {96, 29}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{96, 29}</string>
			<key>spriteSourceSize</key>
			<string>{98, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 482}, {96, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_cover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {134, 109}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{134, 109}</string>
			<key>spriteSourceSize</key>
			<string>{146, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 358}, {134, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_desk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {320, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{320, 60}</string>
			<key>spriteSourceSize</key>
			<string>{320, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 391}, {320, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {108, 170}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{108, 170}</string>
			<key>spriteSourceSize</key>
			<string>{122, 182}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{781, 0}, {108, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {90, 184}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{90, 184}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{781, 172}, {90, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {111, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{111, 112}</string>
			<key>spriteSourceSize</key>
			<string>{119, 124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 391}, {111, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {72, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 191}</string>
			<key>spriteSourceSize</key>
			<string>{80, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{873, 198}, {72, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_glass5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {88, 196}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 196}</string>
			<key>spriteSourceSize</key>
			<string>{90, 208}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{891, 0}, {88, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_leftbottle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {135, 200}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{135, 200}</string>
			<key>spriteSourceSize</key>
			<string>{145, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 0}, {135, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {24, 28}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{24, 28}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 482}, {24, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_next.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {84, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{84, 29}</string>
			<key>spriteSourceSize</key>
			<string>{84, 31}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 482}, {84, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_nextleft.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {85, 31}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{85, 31}</string>
			<key>spriteSourceSize</key>
			<string>{87, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 463}, {85, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_shelf.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {320, 106}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 106}</string>
			<key>spriteSourceSize</key>
			<string>{320, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {320, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {39, 88}}</string>
			<key>spriteOffset</key>
			<string>{5, -4}</string>
			<key>spriteSize</key>
			<string>{39, 88}</string>
			<key>spriteSourceSize</key>
			<string>{49, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{981, 91}, {39, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {34, 71}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{34, 71}</string>
			<key>spriteSourceSize</key>
			<string>{40, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{361, 275}, {34, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {25, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{25, 89}</string>
			<key>spriteSourceSize</key>
			<string>{43, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 264}, {25, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {32, 78}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{32, 78}</string>
			<key>spriteSourceSize</key>
			<string>{46, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 108}, {32, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {30, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{30, 85}</string>
			<key>spriteSourceSize</key>
			<string>{40, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 289}, {30, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {37, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{37, 66}</string>
			<key>spriteSourceSize</key>
			<string>{49, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 289}, {37, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {39, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{39, 89}</string>
			<key>spriteSourceSize</key>
			<string>{45, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{981, 0}, {39, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {30, 84}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{30, 84}</string>
			<key>spriteSourceSize</key>
			<string>{36, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 189}, {30, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {42, 69}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{42, 69}</string>
			<key>spriteSourceSize</key>
			<string>{46, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{981, 181}, {42, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 6}, {30, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{30, 85}</string>
			<key>spriteSourceSize</key>
			<string>{42, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 202}, {30, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {35, 77}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{35, 77}</string>
			<key>spriteSourceSize</key>
			<string>{45, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{979, 327}, {35, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {30, 89}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{30, 89}</string>
			<key>spriteSourceSize</key>
			<string>{34, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 198}, {30, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {31, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 69}</string>
			<key>spriteSourceSize</key>
			<string>{45, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 108}, {31, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {50, 76}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{50, 76}</string>
			<key>spriteSourceSize</key>
			<string>{60, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{893, 391}, {50, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 12}, {25, 83}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{25, 83}</string>
			<key>spriteSourceSize</key>
			<string>{39, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 260}, {25, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {32, 79}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{32, 79}</string>
			<key>spriteSourceSize</key>
			<string>{40, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 108}, {32, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {30, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{30, 85}</string>
			<key>spriteSourceSize</key>
			<string>{36, 91}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 376}, {30, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {32, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{32, 74}</string>
			<key>spriteSourceSize</key>
			<string>{42, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 188}, {32, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {39, 73}}</string>
			<key>spriteOffset</key>
			<string>{3, -5}</string>
			<key>spriteSize</key>
			<string>{39, 73}</string>
			<key>spriteSourceSize</key>
			<string>{45, 83}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{979, 252}, {39, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {28, 79}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{28, 79}</string>
			<key>spriteSourceSize</key>
			<string>{44, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 179}, {28, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winechoose_wine21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {30, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{30, 85}</string>
			<key>spriteSourceSize</key>
			<string>{38, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{979, 406}, {30, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>game</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>game</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>