<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pourpage_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {189, 64}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{189, 64}</string>
			<key>spriteSourceSize</key>
			<string>{197, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1043, 321}, {189, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_cover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 8}, {245, 198}}</string>
			<key>spriteOffset</key>
			<string>{1, 4}</string>
			<key>spriteSize</key>
			<string>{245, 198}</string>
			<key>spriteSourceSize</key>
			<string>{277, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 616}, {245, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_desk.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 20}, {640, 179}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{640, 179}</string>
			<key>spriteSourceSize</key>
			<string>{640, 199}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 435}, {640, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_glass1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 17}, {265, 412}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{265, 412}</string>
			<key>spriteSourceSize</key>
			<string>{271, 434}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 0}, {265, 412}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_glass2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {205, 429}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{205, 429}</string>
			<key>spriteSourceSize</key>
			<string>{225, 441}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 0}, {205, 429}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_glass3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {237, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{237, 253}</string>
			<key>spriteSourceSize</key>
			<string>{247, 265}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1043, 0}, {237, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_glass4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {191, 414}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{191, 414}</string>
			<key>spriteSourceSize</key>
			<string>{203, 428}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 414}, {191, 414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_glass5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {192, 433}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{192, 433}</string>
			<key>spriteSourceSize</key>
			<string>{200, 449}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {192, 433}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pourpage_sell.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {191, 64}}</string>
			<key>spriteOffset</key>
			<string>{4, -4}</string>
			<key>spriteSize</key>
			<string>{191, 64}</string>
			<key>spriteSourceSize</key>
			<string>{201, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1043, 255}, {191, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>pourPage-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>pourPage-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>