<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>shoppage_back.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {79, 26}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{79, 26}</string>
			<key>spriteSourceSize</key>
			<string>{81, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 482}, {79, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_color.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {292, 350}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{292, 350}</string>
			<key>spriteSourceSize</key>
			<string>{320, 370}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {292, 350}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_lock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {95, 115}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{95, 115}</string>
			<key>spriteSourceSize</key>
			<string>{105, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 352}, {95, 115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_money.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {118, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{118, 34}</string>
			<key>spriteSourceSize</key>
			<string>{120, 38}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 469}, {118, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_title.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {234, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{234, 88}</string>
			<key>spriteSourceSize</key>
			<string>{250, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 0}, {234, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {77, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{77, 98}</string>
			<key>spriteSourceSize</key>
			<string>{91, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{856, 195}, {77, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 13}, {79, 95}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{79, 95}</string>
			<key>spriteSourceSize</key>
			<string>{95, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 90}, {79, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 11}, {77, 97}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{77, 97}</string>
			<key>spriteSourceSize</key>
			<string>{95, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{935, 284}, {77, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {86, 113}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{86, 113}</string>
			<key>spriteSourceSize</key>
			<string>{96, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{419, 352}, {86, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 13}, {77, 95}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{77, 95}</string>
			<key>spriteSourceSize</key>
			<string>{95, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 285}, {77, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 17}, {78, 91}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{78, 91}</string>
			<key>spriteSourceSize</key>
			<string>{94, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 191}, {78, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {92, 102}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{92, 102}</string>
			<key>spriteSourceSize</key>
			<string>{96, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 352}, {92, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 9}, {78, 99}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{78, 99}</string>
			<key>spriteSourceSize</key>
			<string>{94, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 101}, {78, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 15}, {77, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{77, 93}</string>
			<key>spriteSourceSize</key>
			<string>{91, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{775, 382}, {77, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{96, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{857, 97}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {78, 98}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{78, 98}</string>
			<key>spriteSourceSize</key>
			<string>{96, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 202}, {78, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 14}, {93, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{93, 102}</string>
			<key>spriteSourceSize</key>
			<string>{97, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{507, 352}, {93, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {77, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{77, 93}</string>
			<key>spriteSourceSize</key>
			<string>{85, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{854, 295}, {77, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {79, 95}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{79, 95}</string>
			<key>spriteSourceSize</key>
			<string>{85, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{932, 0}, {79, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 5}, {77, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{77, 96}</string>
			<key>spriteSourceSize</key>
			<string>{81, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 383}, {77, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {78, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 99}</string>
			<key>spriteSourceSize</key>
			<string>{84, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 0}, {78, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {78, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{78, 97}</string>
			<key>spriteSourceSize</key>
			<string>{86, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 90}, {78, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {78, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 92}</string>
			<key>spriteSourceSize</key>
			<string>{84, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{937, 97}, {78, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {77, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{77, 86}</string>
			<key>spriteSourceSize</key>
			<string>{89, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 295}, {77, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 94}</string>
			<key>spriteSourceSize</key>
			<string>{88, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 189}, {78, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shoppage_wine21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {78, 96}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{78, 96}</string>
			<key>spriteSourceSize</key>
			<string>{84, 106}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 187}, {78, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>shopPage</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>shopPage</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>