<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine11_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 31}, {389, 204}}</string>
			<key>spriteOffset</key>
			<string>{14, 12}</string>
			<key>spriteSize</key>
			<string>{389, 204}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 536}, {389, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 32}, {389, 200}}</string>
			<key>spriteOffset</key>
			<string>{13, 13}</string>
			<key>spriteSize</key>
			<string>{389, 200}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{806, 536}, {389, 200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 32}, {387, 192}}</string>
			<key>spriteOffset</key>
			<string>{11, 17}</string>
			<key>spriteSize</key>
			<string>{387, 192}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 196}, {387, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 33}, {387, 186}}</string>
			<key>spriteOffset</key>
			<string>{11, 19}</string>
			<key>spriteSize</key>
			<string>{387, 186}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 742}, {387, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 33}, {387, 180}}</string>
			<key>spriteOffset</key>
			<string>{10, 22}</string>
			<key>spriteSize</key>
			<string>{387, 180}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{826, 930}, {387, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 33}, {385, 176}}</string>
			<key>spriteOffset</key>
			<string>{9, 24}</string>
			<key>spriteSize</key>
			<string>{385, 176}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1217, 0}, {385, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 34}, {381, 174}}</string>
			<key>spriteOffset</key>
			<string>{8, 24}</string>
			<key>spriteSize</key>
			<string>{381, 174}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{826, 1112}, {381, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 34}, {381, 174}}</string>
			<key>spriteOffset</key>
			<string>{8, 24}</string>
			<key>spriteSize</key>
			<string>{381, 174}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1193, 750}, {381, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 34}, {381, 176}}</string>
			<key>spriteOffset</key>
			<string>{8, 23}</string>
			<key>spriteSize</key>
			<string>{381, 176}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1197, 572}, {381, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 33}, {383, 176}}</string>
			<key>spriteOffset</key>
			<string>{9, 24}</string>
			<key>spriteSize</key>
			<string>{383, 176}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1217, 178}, {383, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 29}, {385, 180}}</string>
			<key>spriteOffset</key>
			<string>{9, 26}</string>
			<key>spriteSize</key>
			<string>{385, 180}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1197, 390}, {385, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 21}, {385, 190}}</string>
			<key>spriteOffset</key>
			<string>{10, 29}</string>
			<key>spriteSize</key>
			<string>{385, 190}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{806, 738}, {385, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 16}, {387, 194}}</string>
			<key>spriteOffset</key>
			<string>{11, 32}</string>
			<key>spriteSize</key>
			<string>{387, 194}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 0}, {387, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {411, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{411, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1072}, {411, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {411, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{411, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 268}, {411, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {413, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{413, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 804}, {413, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {413, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{413, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {413, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {411, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{411, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{413, 1072}, {411, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {411, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{411, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 0}, {411, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {413, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{413, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 268}, {413, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine11_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {413, 266}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{413, 266}</string>
			<key>spriteSourceSize</key>
			<string>{443, 290}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 536}, {413, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_11-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_11-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>