<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine10_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 25}, {204, 79}}</string>
			<key>spriteOffset</key>
			<string>{5, 9}</string>
			<key>spriteSize</key>
			<string>{204, 79}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 262}, {204, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {206, 75}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{206, 75}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{618, 262}, {206, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {204, 73}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{204, 73}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 341}, {204, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 27}, {204, 69}}</string>
			<key>spriteOffset</key>
			<string>{4, 12}</string>
			<key>spriteSize</key>
			<string>{204, 69}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 416}, {204, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 28}, {204, 65}}</string>
			<key>spriteOffset</key>
			<string>{4, 13}</string>
			<key>spriteSize</key>
			<string>{204, 65}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 416}, {204, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 29}, {202, 61}}</string>
			<key>spriteOffset</key>
			<string>{4, 14}</string>
			<key>spriteSize</key>
			<string>{202, 61}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{616, 416}, {202, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 28}, {200, 61}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{200, 61}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{824, 339}, {200, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 26}, {202, 63}}</string>
			<key>spriteOffset</key>
			<string>{4, 16}</string>
			<key>spriteSize</key>
			<string>{202, 63}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 416}, {202, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 22}, {204, 69}}</string>
			<key>spriteOffset</key>
			<string>{4, 17}</string>
			<key>spriteSize</key>
			<string>{204, 69}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 345}, {204, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 20}, {204, 71}}</string>
			<key>spriteOffset</key>
			<string>{4, 18}</string>
			<key>spriteSize</key>
			<string>{204, 71}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 343}, {204, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 17}, {204, 75}}</string>
			<key>spriteOffset</key>
			<string>{5, 19}</string>
			<key>spriteSize</key>
			<string>{204, 75}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{618, 339}, {204, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 15}, {204, 77}}</string>
			<key>spriteOffset</key>
			<string>{5, 20}</string>
			<key>spriteSize</key>
			<string>{204, 77}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 262}, {204, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 12}, {204, 81}}</string>
			<key>spriteOffset</key>
			<string>{5, 21}</string>
			<key>spriteSize</key>
			<string>{204, 81}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 262}, {204, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 0}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 131}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 131}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 131}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 131}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 0}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine10_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {216, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{216, 129}</string>
			<key>spriteSourceSize</key>
			<string>{230, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 0}, {216, 129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_10</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_10</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>