<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine12_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 25}, {206, 67}}</string>
			<key>spriteOffset</key>
			<string>{4, 15}</string>
			<key>spriteSize</key>
			<string>{206, 67}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 361}, {206, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 25}, {206, 63}}</string>
			<key>spriteOffset</key>
			<string>{4, 17}</string>
			<key>spriteSize</key>
			<string>{206, 63}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 430}, {206, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {206, 61}}</string>
			<key>spriteOffset</key>
			<string>{4, 17}</string>
			<key>spriteSize</key>
			<string>{206, 61}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 426}, {206, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {206, 61}}</string>
			<key>spriteOffset</key>
			<string>{4, 17}</string>
			<key>spriteSize</key>
			<string>{206, 61}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 489}, {206, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 24}, {206, 63}}</string>
			<key>spriteOffset</key>
			<string>{4, 18}</string>
			<key>spriteSize</key>
			<string>{206, 63}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 426}, {206, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 22}, {206, 65}}</string>
			<key>spriteOffset</key>
			<string>{4, 19}</string>
			<key>spriteSize</key>
			<string>{206, 65}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 426}, {206, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 18}, {208, 69}}</string>
			<key>spriteOffset</key>
			<string>{5, 21}</string>
			<key>spriteSize</key>
			<string>{208, 69}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 355}, {208, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 17}, {208, 71}}</string>
			<key>spriteOffset</key>
			<string>{5, 21}</string>
			<key>spriteSize</key>
			<string>{208, 71}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 353}, {208, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 15}, {208, 73}}</string>
			<key>spriteOffset</key>
			<string>{5, 22}</string>
			<key>spriteSize</key>
			<string>{208, 73}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 351}, {208, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 13}, {208, 75}}</string>
			<key>spriteOffset</key>
			<string>{5, 23}</string>
			<key>spriteSize</key>
			<string>{208, 75}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 274}, {208, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 11}, {208, 77}}</string>
			<key>spriteOffset</key>
			<string>{5, 24}</string>
			<key>spriteSize</key>
			<string>{208, 77}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{420, 274}, {208, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 9}, {208, 79}}</string>
			<key>spriteOffset</key>
			<string>{6, 25}</string>
			<key>spriteSize</key>
			<string>{208, 79}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 274}, {208, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {208, 85}}</string>
			<key>spriteOffset</key>
			<string>{6, 24}</string>
			<key>spriteSize</key>
			<string>{208, 85}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 274}, {208, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 137}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 0}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 137}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 137}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 0}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 0}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine12_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {220, 135}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{220, 135}</string>
			<key>spriteSourceSize</key>
			<string>{232, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 137}, {220, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_12</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_12</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>