<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine20_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 19}, {189, 68}}</string>
			<key>spriteOffset</key>
			<string>{3, 21}</string>
			<key>spriteSize</key>
			<string>{189, 68}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 346}, {189, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 21}, {189, 68}}</string>
			<key>spriteOffset</key>
			<string>{4, 19}</string>
			<key>spriteSize</key>
			<string>{189, 68}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 388}, {189, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 23}, {189, 66}}</string>
			<key>spriteOffset</key>
			<string>{3, 18}</string>
			<key>spriteSize</key>
			<string>{189, 66}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{575, 406}, {189, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 25}, {191, 66}}</string>
			<key>spriteOffset</key>
			<string>{4, 16}</string>
			<key>spriteSize</key>
			<string>{191, 66}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 320}, {191, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 24}, {191, 70}}</string>
			<key>spriteOffset</key>
			<string>{4, 15}</string>
			<key>spriteSize</key>
			<string>{191, 70}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 274}, {191, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 21}, {191, 74}}</string>
			<key>spriteOffset</key>
			<string>{4, 16}</string>
			<key>spriteSize</key>
			<string>{191, 74}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 274}, {191, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 18}, {191, 78}}</string>
			<key>spriteOffset</key>
			<string>{3, 17}</string>
			<key>spriteSize</key>
			<string>{191, 78}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{597, 138}, {191, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 16}, {193, 82}}</string>
			<key>spriteOffset</key>
			<string>{4, 17}</string>
			<key>spriteSize</key>
			<string>{193, 82}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 138}, {193, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 14}, {191, 84}}</string>
			<key>spriteOffset</key>
			<string>{4, 18}</string>
			<key>spriteSize</key>
			<string>{191, 84}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 366}, {191, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 12}, {191, 88}}</string>
			<key>spriteOffset</key>
			<string>{4, 18}</string>
			<key>spriteSize</key>
			<string>{191, 88}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{595, 316}, {191, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {191, 92}}</string>
			<key>spriteOffset</key>
			<string>{4, 18}</string>
			<key>spriteSize</key>
			<string>{191, 92}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{595, 222}, {191, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 9}, {191, 92}}</string>
			<key>spriteOffset</key>
			<string>{4, 19}</string>
			<key>spriteSize</key>
			<string>{191, 92}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 272}, {191, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 7}, {191, 96}}</string>
			<key>spriteOffset</key>
			<string>{4, 19}</string>
			<key>spriteSize</key>
			<string>{191, 96}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 222}, {191, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 136}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 136}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{603, 0}, {199, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{199, 134}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 138}, {199, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 136}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 136}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 0}, {199, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{199, 134}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 138}, {199, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 136}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 136}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {199, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{199, 134}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 136}, {199, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 136}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{199, 136}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 0}, {199, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine20_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 4}, {199, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{199, 134}</string>
			<key>spriteSourceSize</key>
			<string>{215, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 0}, {199, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_20</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_20</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>