<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine4_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {200, 101}}</string>
			<key>spriteOffset</key>
			<string>{4, 7}</string>
			<key>spriteSize</key>
			<string>{200, 101}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {200, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 18}, {200, 95}}</string>
			<key>spriteOffset</key>
			<string>{4, 9}</string>
			<key>spriteSize</key>
			<string>{200, 95}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {200, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {198, 91}}</string>
			<key>spriteOffset</key>
			<string>{3, 9}</string>
			<key>spriteSize</key>
			<string>{198, 91}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 0}, {198, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {198, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, 10}</string>
			<key>spriteSize</key>
			<string>{198, 89}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 0}, {198, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 21}, {198, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, 11}</string>
			<key>spriteSize</key>
			<string>{198, 85}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{804, 0}, {198, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 23}, {196, 79}}</string>
			<key>spriteOffset</key>
			<string>{2, 12}</string>
			<key>spriteSize</key>
			<string>{196, 79}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 103}, {196, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 24}, {196, 79}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{196, 79}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 103}, {196, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 23}, {196, 81}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{196, 81}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 103}, {196, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 20}, {198, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, 12}</string>
			<key>spriteSize</key>
			<string>{198, 85}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 103}, {198, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {198, 89}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{198, 89}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{794, 103}, {198, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 15}, {198, 93}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{198, 93}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 194}, {198, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {200, 97}}</string>
			<key>spriteOffset</key>
			<string>{4, 14}</string>
			<key>spriteSize</key>
			<string>{200, 97}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 194}, {200, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {200, 99}}</string>
			<key>spriteOffset</key>
			<string>{4, 15}</string>
			<key>spriteSize</key>
			<string>{200, 99}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 194}, {200, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 194}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 335}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 335}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 335}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 335}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 476}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 476}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine4_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {212, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 139}</string>
			<key>spriteSourceSize</key>
			<string>{222, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 476}, {212, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_4</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_4</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>