<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine15_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 23}, {203, 70}}</string>
			<key>spriteOffset</key>
			<string>{5, 16}</string>
			<key>spriteSize</key>
			<string>{203, 70}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 346}, {203, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 23}, {203, 68}}</string>
			<key>spriteOffset</key>
			<string>{5, 17}</string>
			<key>spriteSize</key>
			<string>{203, 68}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 354}, {203, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 24}, {203, 64}}</string>
			<key>spriteOffset</key>
			<string>{5, 18}</string>
			<key>spriteSize</key>
			<string>{203, 64}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 418}, {203, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 24}, {203, 62}}</string>
			<key>spriteOffset</key>
			<string>{5, 19}</string>
			<key>spriteSize</key>
			<string>{203, 62}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 444}, {203, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 25}, {201, 60}}</string>
			<key>spriteOffset</key>
			<string>{4, 19}</string>
			<key>spriteSize</key>
			<string>{201, 60}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 350}, {201, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 25}, {203, 60}}</string>
			<key>spriteOffset</key>
			<string>{5, 19}</string>
			<key>spriteSize</key>
			<string>{203, 60}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 420}, {203, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 22}, {203, 64}}</string>
			<key>spriteOffset</key>
			<string>{5, 20}</string>
			<key>spriteSize</key>
			<string>{203, 64}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 424}, {203, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 19}, {203, 68}}</string>
			<key>spriteOffset</key>
			<string>{5, 21}</string>
			<key>spriteSize</key>
			<string>{203, 68}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 350}, {203, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 17}, {205, 72}}</string>
			<key>spriteOffset</key>
			<string>{6, 21}</string>
			<key>spriteSize</key>
			<string>{205, 72}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 272}, {205, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 14}, {203, 76}}</string>
			<key>spriteOffset</key>
			<string>{6, 22}</string>
			<key>spriteSize</key>
			<string>{203, 76}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 272}, {203, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 11}, {205, 80}}</string>
			<key>spriteOffset</key>
			<string>{7, 23}</string>
			<key>spriteSize</key>
			<string>{205, 80}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{205, 272}, {205, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 9}, {205, 82}}</string>
			<key>spriteOffset</key>
			<string>{7, 24}</string>
			<key>spriteSize</key>
			<string>{205, 82}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 360}, {205, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {203, 86}}</string>
			<key>spriteOffset</key>
			<string>{7, 24}</string>
			<key>spriteSize</key>
			<string>{203, 86}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 272}, {203, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 136}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 0}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 136}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{217, 0}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{651, 0}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{217, 136}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine15_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 5}, {215, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{215, 134}</string>
			<key>spriteSourceSize</key>
			<string>{225, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 136}, {215, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_15</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_15</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>