<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine3_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {202, 85}}</string>
			<key>spriteOffset</key>
			<string>{5, 9}</string>
			<key>spriteSize</key>
			<string>{202, 85}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 920}, {202, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {202, 81}}</string>
			<key>spriteOffset</key>
			<string>{5, 9}</string>
			<key>spriteSize</key>
			<string>{202, 81}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 920}, {202, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {202, 77}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{202, 77}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 732}, {202, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {202, 75}}</string>
			<key>spriteOffset</key>
			<string>{5, 10}</string>
			<key>spriteSize</key>
			<string>{202, 75}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 811}, {202, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 13}, {204, 71}}</string>
			<key>spriteOffset</key>
			<string>{5, 11}</string>
			<key>spriteSize</key>
			<string>{204, 71}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 460}, {204, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {204, 65}}</string>
			<key>spriteOffset</key>
			<string>{5, 12}</string>
			<key>spriteSize</key>
			<string>{204, 65}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 602}, {204, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {204, 61}}</string>
			<key>spriteOffset</key>
			<string>{5, 13}</string>
			<key>spriteSize</key>
			<string>{204, 61}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 669}, {204, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {202, 59}}</string>
			<key>spriteOffset</key>
			<string>{5, 13}</string>
			<key>spriteSize</key>
			<string>{202, 59}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 199}, {202, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {202, 57}}</string>
			<key>spriteOffset</key>
			<string>{5, 14}</string>
			<key>spriteSize</key>
			<string>{202, 57}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 260}, {202, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 15}, {202, 61}}</string>
			<key>spriteOffset</key>
			<string>{5, 14}</string>
			<key>spriteSize</key>
			<string>{202, 61}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 136}, {202, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 13}, {202, 63}}</string>
			<key>spriteOffset</key>
			<string>{5, 15}</string>
			<key>spriteSize</key>
			<string>{202, 63}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 71}, {202, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 11}, {204, 67}}</string>
			<key>spriteOffset</key>
			<string>{5, 15}</string>
			<key>spriteSize</key>
			<string>{204, 67}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 533}, {204, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 9}, {202, 69}}</string>
			<key>spriteOffset</key>
			<string>{5, 16}</string>
			<key>spriteSize</key>
			<string>{202, 69}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 0}, {202, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {214, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{214, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 460}, {214, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {214, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{214, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 805}, {214, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {216, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{216, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 115}, {216, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {216, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{216, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 230}, {216, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {214, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{214, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 575}, {214, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {214, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{214, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 690}, {214, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {216, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{216, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 345}, {216, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine3_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {216, 113}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{216, 113}</string>
			<key>spriteSourceSize</key>
			<string>{222, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {216, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_3</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_3</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>