<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>wine19_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {146, 96}}</string>
			<key>spriteOffset</key>
			<string>{3, 9}</string>
			<key>spriteSize</key>
			<string>{146, 96}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 254}, {146, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 20}, {146, 94}}</string>
			<key>spriteOffset</key>
			<string>{3, 10}</string>
			<key>spriteSize</key>
			<string>{146, 94}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 356}, {146, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 21}, {144, 92}}</string>
			<key>spriteOffset</key>
			<string>{3, 10}</string>
			<key>spriteSize</key>
			<string>{144, 92}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 240}, {144, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 21}, {142, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{142, 90}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 354}, {142, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 20}, {142, 90}}</string>
			<key>spriteOffset</key>
			<string>{2, 12}</string>
			<key>spriteSize</key>
			<string>{142, 90}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 334}, {142, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {144, 92}}</string>
			<key>spriteOffset</key>
			<string>{2, 13}</string>
			<key>spriteSize</key>
			<string>{144, 92}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 284}, {144, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 17}, {146, 94}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{146, 94}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 144}, {146, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 15}, {146, 96}}</string>
			<key>spriteOffset</key>
			<string>{3, 14}</string>
			<key>spriteSize</key>
			<string>{146, 96}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 352}, {146, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 13}, {148, 100}}</string>
			<key>spriteOffset</key>
			<string>{4, 14}</string>
			<key>spriteSize</key>
			<string>{148, 100}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 254}, {148, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 11}, {150, 102}}</string>
			<key>spriteOffset</key>
			<string>{5, 15}</string>
			<key>spriteSize</key>
			<string>{150, 102}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 250}, {150, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 10}, {150, 104}}</string>
			<key>spriteOffset</key>
			<string>{5, 15}</string>
			<key>spriteSize</key>
			<string>{150, 104}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 144}, {150, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {152, 106}}</string>
			<key>spriteOffset</key>
			<string>{6, 16}</string>
			<key>spriteSize</key>
			<string>{152, 106}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 144}, {152, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 6}, {152, 108}}</string>
			<key>spriteOffset</key>
			<string>{6, 17}</string>
			<key>spriteSize</key>
			<string>{152, 108}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 144}, {152, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 142}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{162, 142}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {162, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 140}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{162, 140}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 142}, {162, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 142}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{162, 142}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492, 0}, {162, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 140}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{162, 140}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 142}, {162, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 142}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{162, 142}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 0}, {162, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 140}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{162, 140}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 0}, {162, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 142}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{162, 142}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 0}, {162, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wine19_21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {162, 140}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{162, 140}</string>
			<key>spriteSourceSize</key>
			<string>{180, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 0}, {162, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>wine_19</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>wine_19</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>